.form {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    padding-top: 80px;
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
    font-family: 'Rubik', sans-serif;
    color: #404044;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    background-color: #fff;
    padding-bottom: 0px;
}
.form-content{
    width: 70%;
    margin: 0 auto;
}
.form-content h4 {
    /* justify-content: flex-start; */
    /* margin-left: 135px; */
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    font-style: normal;
}
.form-row input {
    height: 50px;
    border-image: none;
    border-style: none none solid;
    border: 1px solid #ebebeb;
    color: #969696;
    font-size: 15px;
    text-transform: capitalize;
    width: 100%;
    padding-left: 10px;
    border-radius: 6px;
    width: 33%;
    /* margin-left: 20px; */
    /* margin: 10px;*/
     margin-bottom: 20px;

}
.form-message{
    display: flex;
    /* justify-content: center; */
}
.form-message input{
    border-radius: 6px;
    border-image: none;
    border-style: none none solid;
    border: 1px solid #ebebeb;
    color: #969696;
    font-size: 15px;
    text-transform: capitalize;
    width: 100%;
    padding-left: 10px;
    height: 143px;
    padding-top: 10px;
    /* display: flex;
    align-items: flex-start;
    text-align: start; */
    /* width: 900px; */
}
.form-box{
    width: 100%;
    
}
.form-row{
    display: flex;
    /* justify-content: center; */
    gap: 25px;
    width: 100%;
    
}
.map{
    width: 100%;
    margin: 80px 0 350px;
    /* padding: 0 0; */
    
}

@media(max-width:460px){
    .form{
        margin-top: 0;
        padding-top: 10px;
        /* position: unset; */
        
    }
    .form-row{
        flex-wrap: wrap;
        justify-content: center;
       
    }
    .form-content{
        width: 90%;
    }
    .form-box{
        padding: 0;
        margin: 0;
    }
    .form-row input {
        
        width: 90%;
    }
    .form-message{
        justify-content: center;
    }
    .form-message input {
        width: 90%;
    }
    .form-content h4{
        font-size: 16px;
    }
}