header{
    /* z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background: #FFF;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0;
    z-index: 99;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
     */
}
.header{
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background: #FFF;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0;
    z-index: 99;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
}
header ul li{
    display: inline-block;
    padding: 25px 25px;
    color: #404044;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    transition: .5s;
}

.navbar{
    transition: 0.5s;
}
header ul li:hover{
    color:#6b54f6;
    cursor: pointer;
}
header img{
    height: 55px;
}
header button{
    height: 40px;
    min-width: 175px;
    border-radius: 6px;
    border-width: 0;
    background: #6b54f6;
    padding: 0 36px;
    display: inline-block;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    border: none;
    font-weight: 400;
    font-size: 15px;
    transition: .4s;
    font-family: Poppins;
}
header button:hover{
    background-color: #0056b3;
    cursor: pointer;
}
.logo img{
    /* filter: invert(1); */
    color: black
}
.logo img:hover{
    cursor: pointer;
}
.header-adaptive{
      display: none;  
}
.header i{
    display: none;
}
@media(max-width:1250px){
    .header {
        /* flex-wrap: wrap;
        width: 100%;
        height: 140px; */
        justify-content: space-between;
        /* display: none; */
    }
    .navbar{
        display: none;
    }

    .header i{
        display: block;
        padding: 0 20px;
    }
    .logo img{
        width: 150px;
    }
    .header-adaptive{
        display: block;
    }
    header button{
        min-width: 100px;
        padding: 0 10px;
        width: 50px;
        display: none;
    }

}
@media(max-width:460px){
    .header {
        /* flex-wrap: wrap; */
        width: 100%;
        /* height: 140px; */
        justify-content: space-around;
        /* display: none; */
    
    }
    .navbar{
        display: none;
    }
    .header i{
        display: block;
        padding: 0 20px;
    }
    .logo img{
        width: 150px;
    }
    .header-adaptive{
        display: block;
    }
    header button{
        min-width: 100px;
        padding: 0 10px;
        width: 50px;
        display: none;
    }

}